# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Project
.DS_Store
*.log
docs/_build/
